//Fonts
$roboto: 'Roboto', sans-serif;
$roboto-condensed: 'Roboto Condensed', sans-serif;

//colors
$gray: #616161;
$light-gray: #a4a4a6;
$lighter-gray: #F5F5F5;
$white: #fff;
$green: #61c117;
$dark-blue: #134c82;
$dark-red: #ce3e25;