body {
    font-family: $roboto;
}

a, h1, h2, h3, h4, h5, h6, .card-header, button  {
    font-family: $roboto-condensed;
}

h3 {
    font-size: 1em;
    font-weight: 700;
}

.text-small {
    font-size: 0.8em;
}

table th {
    font-family: $roboto-condensed;
}