.header {
    &__container-top {
      @extend .container;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      & > * {
        padding: 0.5em;
      }
    }
    &__logo-container {
      width: 200px;
    }
    &__title-top,
    &__text-container {
      padding-left: 1.2em;
    }
  
    &__title-top {
      font-weight: 700;
    }
  
    &__container-bottom {
      @extend .container;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      border-bottom: solid 1px $gray;
    }
    &__bottom-left {
      padding: 0.5em;
      padding-left: 1.2em;
    }
    &__bottom-right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      padding: 0.5em 1.2em;
      position: relative;
    }
    &__progress-line {
      display: none;
      border-bottom: solid 3px $gray;
      position: absolute;
      top: 32px;
      left: 20px;
      width: 88%;
      z-index: -1;
    }
    &__progress-text {
      font-family: $roboto-condensed;
    }
    &__progress-number-container {
      display: grid;
      grid-template-columns: 30px 1fr;
      padding: 0.3em 0;
      align-items: center;
    }
    &__progress-number {
      display: inline-block;
      text-align: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      color: $primary;
      background-color: $white;
      border: solid 2px $primary;
      padding-top: 0.1em;
  
      &-active {
        background-color: $primary;
        color: $white;
      }
      &-done {
        background-color: $green;
        color: $white;
        border: solid 2px $green;
      }
    }
  }
  
  @media (min-width: 576px) {
    .header {
      &__progress-text {
        text-align: center;
      }
    }
  }
  
  @media (min-width: 768px) {
    .header {
      &__container-bottom {
        flex-wrap: nowrap;
      }
      &__bottom-right {
        width: 80%;
        padding: 0 0 0 2em;
        flex-direction: row;
        justify-content: space-evenly;
      }
      &__progress-line {
        display: inline-block;
        border-bottom: solid 3px $gray;
        position: absolute;
        left: 61px;
        top: 19px;
        width: 81%;
        z-index: -1;
        &--pnatural {
          left: 69px;
          width: 80%;
        }
      }
      &__progress-number-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.3em 0;
      }
    }
  }
  
  @media (min-width: 992px) {
    .header {
      &__progress-line {
        left: 84px;
        &--pnatural {
          left: 101px;
          width: 78%;
        }
      }
    }
  }
  
  @media (min-width: 1200px) {
    .header {
      &__title-top,
      &__text-container {
        padding-left: 0.5em;
      }
      &__progress-line {
        width: 80%;
        left: 115px;
        &--pnatural {
          left: 139px;
          width: 75%;
        }
      }
    }
  }